{% extends "./src/templates/where-to-buy_empty.template" %}
{% block title %}Where To Buy Pages{% endblock %}
{% block main %}

<main class="rc-content--fixed-header rc-main-content__wrapper ">
    <section class="rc-bg-colour--brand3">
        <div class="rc-layout-container rc-padding--sm rc-margin-bottom--xs rc-max-width--lg">
            <div class="rc-column ">
                <div class="rc-margin-y--sm">
                    <h1 class="rc-alpha">Page listing</h1>
                    <ul class="rc-list">
                        <li class="rc-list__item">
                            Please add to this list:
                            <ul class="rc-list">
                                <li class="rc-list__item">
                                    <a href="./social-share.html" class="rc-styled-link">Social Share</a> : <a class="rc-styled-link" href="https://projects.invisionapp.com/share/57Z9BMMKY3F#/screens/436158719" target="_blank">Design</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
