<section>
    <div class="rc-layout-container rc-bg-colour--brand4">
        <div class="rc-column rc-padding--md--desktop rc-padding-y--xs">
            <div class="rc-text--center rc-padding-bottom--xs">Share this page</div>
            <div class="rc-text--center rc-font-size--zero">
                <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-facebook--xs rc-btn--social" href="#" aria-label="facebook">
                    <span class="rc-screen-reader-text">facebook</span>
                </a>
                <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-twitter--xs rc-btn--social" href="#" aria-label="twitter">
                    <span class="rc-screen-reader-text">twitter</span>
                </a>
                <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-youtube--xs rc-btn--social" href="#" aria-label="youtube">
                    <span class="rc-screen-reader-text">youtube</span>
                </a>
                <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-instagram--xs rc-btn--social" href="#" aria-label="instagram">
                    <span class="rc-screen-reader-text">instagram</span>
                </a>
                <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-pinterest--xs rc-btn--social" href="#" aria-label="pinterest">
                    <span class="rc-screen-reader-text">pinterest</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="rc-layout-container rc-bg-colour--brand3">
        <div class="rc-column rc-padding--md--desktop rc-padding-y--xs">
            <div class="rc-text--center rc-padding-bottom--xs">Share this page</div>
            <div class="rc-text--center rc-font-size--zero">
                <a class="rc-btn rc-btn--action rc-icon rc-facebook--xs rc-btn--social rc-btn-bg--brand4" href="#" aria-label="facebook">
                    <span class="rc-screen-reader-text">facebook</span>
                </a>
                <a class="rc-btn rc-btn--action rc-icon rc-twitter--xs rc-btn--social rc-btn-bg--brand4" href="#" aria-label="twitter">
                    <span class="rc-screen-reader-text">twitter</span>
                </a>
                <a class="rc-btn rc-btn--action rc-icon rc-youtube--xs rc-btn--social rc-btn-bg--brand4" href="#" aria-label="youtube">
                    <span class="rc-screen-reader-text">youtube</span>
                </a>
                <a class="rc-btn rc-btn--action rc-icon rc-instagram--xs rc-btn--social rc-btn-bg--brand4" href="#" aria-label="instagram">
                    <span class="rc-screen-reader-text">instagram</span>
                </a>
                <a class="rc-btn rc-btn--action rc-icon rc-pinterest--xs rc-btn--social rc-btn-bg--brand4" href="#" aria-label="pinterest">
                    <span class="rc-screen-reader-text">pinterest</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="rc-layout-container rc-bg-colour--brand3">
        <div class="rc-column rc-padding--md--desktop rc-padding-y--xs">
            <div class="rc-text--left rc-self-h-middle">
                <span class="rc-text--left rc-padding-right--xs rc-self-h-middle">Share</span>
                <span class="rc-font-size--zero">
                    <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-facebook--xs rc-btn--social rc-margin--none" href="#" aria-label="facebook">
                        <span class="rc-screen-reader-text">facebook</span>
                    </a>
                    <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-twitter--xs rc-btn--social rc-margin--none" href="#" aria-label="twitter">
                        <span class="rc-screen-reader-text">twitter</span>
                    </a>
                    <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-youtube--xs rc-btn--social rc-margin--none" href="#" aria-label="youtube">
                        <span class="rc-screen-reader-text">youtube</span>
                    </a>
                    <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-instagram--xs rc-btn--social rc-margin--none" href="#" aria-label="instagram">
                        <span class="rc-screen-reader-text">instagram</span>
                    </a>
                    <a class="rc-btn rc-btn--action rc-btn--action--inverse rc-icon rc-pinterest--xs rc-btn--social rc-margin--none" href="#" aria-label="pinterest">
                        <span class="rc-screen-reader-text">pinterest</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>
