<section class="rc-bg-colour--brand3">
    <div class="rc-layout-container rc-padding-y--sm rc-five-column rc-content-h-middle rc-max-width--lg">
        <div class="rc-column rc-triple-width">
            <div class="rc-padding-right--lg--desktop rc-padding-top--lg--mobile">
                <h1 class="rc-alpha rc-alpha--impact">Welcome to Veterinary Focus Online</h1>
                <p class="rc-padding-bottom--xs">Welcome to the Veterinary Focus website. The worldwide journal for the companion animal veterinarian. Published in 9 different languages, please select your preference to continue.</p>

                <div class="rc-layout-container rc-three-column rc-padding-bottom--xs">
                    <div class="rc-column rc-double-width rc-padding-x--none--mobile">
                        <span class="rc-select">
                            <select data-js-select="" id="id-single-select">
                                <optgroup label="Available online">
                                    <option selected="" disabled="" value="">Select language</option>
                                    <option>English</option>
                                    <option>French</option>
                                    <option>German</option>
                                    <option>Italian</option>
                                    <option>Korean</option>
                                    <option>Polish</option>
                                </optgroup>
                                <optgroup label="PDF Only">
                                    <option>Portuguese</option>
                                    <option>Russian</option>
                                    <option>Spanish</option>
                                </optgroup>
                            </select>
                        </span>
                    </div>
                    <div class="rc-column rc-padding-x--none--mobile">
                        <button class="rc-btn rc-btn--one">Enter website</button>
                    </div>
                </div>
                <p>Returning user? <a href="#" class="rc-styled-link">Log in here</a></p>
            </div>
        </div>
        <div class="rc-column rc-double-width">
            <img class='rc-full-width' src="https://place-hold.it/520x766" alt="Dog">
        </div>
    </div>
</section>