<aside role="modal" class="rc-modal rc-hidden rc-modal--full" data-modal-target="modal-language-selector">
    <div class="rc-modal__container">
        <header class="rc-modal__header">
            <button class="rc-btn rc-icon rc-btn--icon-label rc-modal__close rc-close--xs rc-iconography" data-modal-trigger="modal-language-selector">Close</button>
        </header>
        <section class="rc-modal__content rc-scroll--y">
            <div class="rc-layout-container rc-padding-y--sm rc-content-v-middle">
                <div class="rc-column rc-max-width--md rc-padding-x--xl">
                    <h2 class="rc-gamma rc-text--center rc-full-width">Please select your language</h2>
                    <div class="">
                        <span class="rc-select rc-input--full-width rc-margin-y--md"><label class="rc-select__label" for="id-modal-language-select">Language</label>
                            <select data-js-select="" id="id-modal-language-select">
                                <optgroup label="Available online">
                                    <option selected="selected">English</option>
                                    <option>French</option>
                                    <option>German</option>
                                    <option>Italian</option>
                                    <option>Korean</option>
                                    <option>Polish</option>
                                </optgroup>
                                <optgroup label="PDF Only">
                                    <option>Portuguese</option>
                                    <option>Russian</option>
                                    <option>Spanish</option>
                                </optgroup>
                            </select>
                        </span>
                        <button class="rc-btn rc-btn--one rc-horizontal-align">Submit</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</aside>
 