<section>
    <div class="rc-layout-container rc-bg-colour--brand3">
        <div class="rc-column rc-padding-top--md--mobile rc-padding-y--xs">
            <div class="rc-layout-container rc-one-column rc-self-h-middle rc-max-width--xl">
                <div class="rc-progress rc-progress--breadcrumbs-single">
                    <a href="/" class="rc-progress__breadcrumb rc-styled-link ">Top level</a>
                </div>
            </div>
        </div>
    </div>
</section>
 